/*
 * ©2024 满月叶
 * GitHub: MoonLeeeaf
 * 是 UI 美化，好耶！
 */

body {
    font-family: -apple-system, system-ui, -webkit-system-font;
}
.mdui-dialog {
    border-radius: 23px;
}
.mdui-snackbar {
    border-radius: 10px;
}
.mdui-menu {
    border-radius: 10px;
}
.mdui-menu-item > a {
    padding-right: 3px;
}
.mdui-dialog-actions a,
.mdui-dialog-actions button {
    border-radius: 40px;
}
.mdui-btn {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-radius: 10px;
}
